body {
  margin: 0 ;
  font-size: 15px;
  line-height: 1.6;
  color: #fff;
  background-image: url(https://avatars.mds.yandex.net/get-images-cbir/4623352/DQIWoGQG9UUnQvZslSoR5g229/ocr);
  background-size: 500px;
  font-family: 'Play', sans-serif;
}
h1, h2, h3, h4, h5, h6
{
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}



*,
*:before,
*:after {
  box-sizing: border-box;
}
.box {
  position: absolute;
width: 1170px;
height: 650px;
left: calc(50% - 1074px/2);
top: -491px;
z-index: 0;
background: radial-gradient(40% 50% at 50% 50%, #FF2020 0%, rgba(255, 32, 32, 0) 100%);
}
.info-box-mobil {
  display: none;
}

/* CONTEINER================================================== */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.main-img-2 {
  display: none;
}
.main-box-2 {
  display: none;
}
.text-img-Hyde1 {
  display: none;
}
.box-our1 {
  display: none;
}
.img-text1 {
  display: none;
}
/* header */
.box {
  position: absolute;
width: 1170px;
height: 650px;
left: calc(50% - 1074px/2);
top: -491px;
z-index: 0;
background: radial-gradient(40% 50% at 50% 50%, #FF2020 20%, rgba(255, 32, 32, 0) 100%);
}
.header {
  height: 100px;;
  z-index: 1009;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-link {
  margin-left: 50px;;
  z-index: 100;
}
.nav-link a {
  display: inline-flex;
  vertical-align: top;
  margin: 0 15px;
  text-decoration: none;
  position: relative;
  color: #fff;
  font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
  transition: .3s;
}
.nav-link a:after {
  content: " ";
  display: block;
  opacity: 0;
  width: 100%;
  height: 3px;
  background: #FF2020;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  transition:  .3s;
}
.nav-link a:hover:after {
  opacity: 1;
}
.info-box {
margin: 0 10px;
display: flex;
align-items: center;
border-radius: 8px;
padding: 6px 12px;
background: rgba(48, 48, 48, 0.75);
}
.header-info {
  display: flex;

}
.header-right {
  display: flex;
  z-index: 1000;
}
.header-burger {
  display: none;
}

.info-h {
  color: #FF2020;
}
.info-money {
  margin-left: 10px;
}
.icon-header a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 26px;
}
.icon-header i {
  margin-right: 10px;;
  font-size: 20px;
}
/* intro */
.intro {
  height: 950px;
}
.intro-img {
margin: 0 160px;
}
.intro-text {
position: absolute;
left: 743px;
top: 567px;
left: calc(50% - 136px/2);
}
.text-h1 {
font-weight: 700;
font-size: 50px;
text-transform: uppercase;
color: #FFFFFF;
}
.text-h2 {
font-weight: 700;
font-size: 50px;
text-transform: uppercase;
color: #FF2020;
text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
}
.text-btn {
  margin-top: 30px;;
}
.text-btn a {
  padding: 12px 12px;
border: 1px solid #FF2020;
border-radius: 4px;
  text-transform: uppercase;
transition: .4s;
}
.text-btn a:hover {
  background: #FF2020;
box-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
border-radius: 4px;
}
/* section */
.section {
height: 720px;
}
.section-box {
display: flex;
align-items: center;
}
.section-text {
font-weight: 400;
font-size: 36px;
line-height: 48px;
/* or 133% */


color: #FFFFFF;
}
section-text a {
font-weight: 700;
font-size: 911px;
line-height: 111px;
color: #FF2020;
text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
}

/* main */

.main-text-img {
display: flex;
align-items: center;
}
.main-text-img h1 {
font-weight: 700;
font-size: 108px;
line-height: 111px;
color: #FFFFFF;
}
.main-text {
display: flex;
}
.text-1 h1 {
text-transform: uppercase;

color: #2094FF;
}
.text-2 h1 {
text-transform: uppercase;
color: #FF2020;
}
.text-1 {
position: relative;
width: 19%;
top: -106px;
left: 316px;
}
.text-2 {
position: relative;
width: 30%;
top: -90px;
text-align: end;
left: 460px;
}
/* Hyde */
.Hyde {
margin-top: 200px;
height: 850px;
}
.text-img-Hyde .img {
width: 541px;
z-index: 1000;
height: 610px;
}
.text-img-Hyde .img-1 {
position: relative;
top: -444px;
z-index: 0;
left: 814px;
}
.text-img-Hyde .img-2 {
position: relative;
top: -321px;
z-index: 0;
left: 51px;
}
/* nation */
.nation {
height: 765px;
}
.box-nation {
display: flex;
align-items: center;
}
.text-nation h1 {
font-weight: 700;
font-size: 96px;
line-height: 111px;
color: #FF2020;
text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
}
.text-nation p {
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}
/* nos------------------- */
.nos {
height: 750px;;
}
.box-nos {
display: flex;
align-items: center;
}
.nos-text-img {
margin-left: 150px;
display: flex;
flex-direction: column;
}
.nos-text {
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
}
.img-text {
margin-top: 50px;
}
/* Design */
.Design {
height: 750px;
}
.box-Design {
display: flex;
}
.glav-img {
display: flex;
}
.glav-img h1 {
font-weight: 700;
font-size: 80px;
width: 47%;
line-height: 111px;
color: #FF2020;
text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
}
.text-Design  {
font-weight: 400;
font-size: 20px;
line-height: 30px;
width: 50%;
color: #FFFFFF
}
.img-text-Design {
margin-left: 30px;
  display: flex;
  flex-direction: column;
}
/* our */
.our {
height: 600px;
}
.box-our {
display: flex;
justify-content: center;
}
.twiter i {
font-size: 30px;
color: red;
}
.twiter h2 {
font-weight: 700;
font-size: 40px;
width: 10%;
color: #FFFFFF;
}
.box-red {
width: 434px;
height: 495px;
background: #FF2020;
border-radius: 8px;
z-index: 1000;
}
.img-our {
position: relative;
top: -240px;
left: -189px;
}
.img-our img {
width: 467px;
height: 600px;
}
/* footer */
.footer {
height: 100px;
}
.footer-box {
display: flex;
align-items: center;
justify-content: space-between;
}
.icon a {
font-size: 30px;
color: red;
}
.icon i  {
margin: auto 10px;
}
.text-icon {
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: right;
color: #7C7C7C;
}
/* media */
@media screen and (max-width: 1280px) {
.container {
  width: 1140px;
}
/* header */
.nav-link a {
  font-size: 17px;
  margin: 0 12px;
}
.info-h {
  font-size: 12px;
}
.info-money {
font-size: 12px;;
}
/* intro */

.intro-img {
  margin: 0 71px;
}
.text-h1 {
font-size: 42px;
}
.text-h2 {
font-size: 42px;;
}
/* main */
.main-img img {
width: 1180px;
height: 639px;
}
.main-text-img h1 {
font-size: 80px;
}
.text-img-Hyde {
position: relative;
top: 47px;
left: -77px;
}
.box {
left: calc(50% - 1115px/2);
}
.glav-img h1 {
width: 58%;
}
}
@media screen and (max-width: 1024px) {
.container {
  width: 960px;
}
/* header */
.info-h {
  font-size: 10px;
}
.info-money {

font-size: 10px;
}
.header-link {
margin-left: 36px;
z-index: 100;
}
.nav-link a {
font-size: 16px;
margin: 0 4px;
}
.info-box {
margin: 0 8px;
}
.icon-header i {
margin-right: 10px;
font-size: 17px;
}
icon-header h3 {
font-size: 10px;
}
.icon-header a {
padding: 4px 9px;
}
/* intro */

.intro-img img {
width: 827px;
height: 495px;
}
.intro-text {
top: 460px;
}
.text-h1 {
font-size: 37px;
}
.text-h2 {
font-size: 37px;
}
.box {
left: calc(50% - 1379px/2);
}
.main-img img {
width: 991px;
height: 578px;
}
.main-text-img img {
width: 376px;
height: 473px;
}
.main-text-img h1 {
font-size: 61px;
}
.text-2 {
position: relative;
width: 30%;
top: -50px;
text-align: end;
left: 389px;
}
.text-img-Hyde .img {
width: 541px;
z-index: 1;
height: 542px;
}
.text-img-Hyde .img-1 {
position: relative;
top: -417px;
left: 694px;
}
.text-img-Hyde .img-1 {
position: relative;
top: -429px;
left: 599px;
}
.img-nation img {
width: 583px;
height: 435px;
}
.text-nation h1 {
font-size: 77px;
}
.text-nation p {
font-size: 16px;
}
.img-Design img {
width: 365px;
height: 416px;
}
.glav-img img {
width: 276px;
height: 144px;
}
.nos-img img {
width: 249px;
height: 253px;
}
.nos-text-img {
margin-left: 38px;
display: flex;
flex-direction: column;
}
.main {
height: 870px;
}
.intro {
height: 765px;
}
}
@media screen and (max-width: 1024px) {
.container {
  width: 960px;
}
/* header */
.info-h {
  font-size: 10px;
}
.info-money {

font-size: 10px;
}
.header-link {
margin-left: 36px;
z-index: 100;
}
.nav-link a {
font-size: 16px;
margin: 0 4px;
}
.info-box {
margin: 0 8px;
}
.icon-header i {
margin-right: 10px;
font-size: 17px;
}
icon-header h3 {
font-size: 10px;
}
.icon-header a {
padding: 4px 9px;
}
/* intro */

.intro-img img {
width: 827px;
height: 495px;
}
.intro-text {
top: 460px;
}
.text-h1 {
font-size: 37px;
}
.text-h2 {
font-size: 37px;
}
.box {
left: calc(50% - 1379px/2);
}
.main-img img {
width: 991px;
height: 578px;
}
.main-text-img img {
width: 376px;
height: 473px;
}
.main-text-img h1 {
font-size: 61px;
}
.text-2 {
position: relative;
width: 30%;
top: -50px;
text-align: end;
left: 389px;
}
.text-img-Hyde .img {
width: 541px;
z-index: 1;
height: 542px;
}
.text-img-Hyde .img-1 {
position: relative;
top: -417px;
left: 694px;
}
.text-img-Hyde .img-1 {
position: relative;
top: -429px;
left: 599px;
}
.img-nation img {
width: 583px;
height: 435px;
}
.text-nation h1 {
font-size: 77px;
}
.text-nation p {
font-size: 16px;
}
.img-Design img {
width: 365px;
height: 416px;
}
.glav-img img {
width: 276px;
height: 144px;
}
.nos-img img {
width: 249px;
height: 253px;
}
.nos-text-img {
margin-left: 38px;
display: flex;
flex-direction: column;
}
.main {
height: 870px;
}
.intro {
height: 765px;
}
}
@media screen and (max-width: 1199px) {
.container {
  width: 1000px;
}
/* header */
.info-h {
  font-size: 10px;
}
.info-money {

font-size: 10px;
}
.header-link {
margin-left: 36px;
z-index: 100;
}
.nav-link a {
font-size: 16px;
margin: 0 4px;
}
.info-box {
margin: 0 8px;
}
.icon-header i {
margin-right: 10px;
font-size: 17px;
}
icon-header h3 {
font-size: 10px;
}
.icon-header a {
padding: 4px 9px;
}
/* intro */

.intro-img img {
width: 827px;
height: 495px;
}
.intro-text {
top: 460px;
}
.text-h1 {
font-size: 37px;
}
.text-h2 {
font-size: 37px;
}
.box {
left: calc(50% - 1379px/2);
}
.main-img img {
width: 991px;
height: 578px;
}
.main-text-img img {
width: 376px;
height: 473px;
}
.main-text-img h1 {
font-size: 61px;
}
.text-2 {
position: relative;
width: 30%;
top: -50px;
text-align: end;
left: 389px;
}
.text-img-Hyde .img {
width: 541px;
z-index: 1;
height: 542px;
}
.text-img-Hyde .img-1 {
position: relative;
top: -417px;
left: 694px;
}
.text-img-Hyde .img-1 {
position: relative;
top: -429px;
left: 599px;
}
.img-nation img {
width: 583px;
height: 435px;
}
.text-nation h1 {
font-size: 77px;
}
.text-nation p {
font-size: 16px;
}
.img-Design img {
width: 365px;
height: 416px;
}
.glav-img img {
width: 276px;
height: 144px;
}
.nos-img img {
width: 249px;
height: 253px;
}
.nos-text-img {
margin-left: 38px;
display: flex;
flex-direction: column;
}
.main {
height: 870px;
}
.intro {
height: 765px;
}
}
/* media modile */
@media screen and (max-width: 575px) {
.container {
  width: 100%;
  padding: 0 15px;
}
html, body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
}
.text-h1 {
  font-size: 28px;
  height: 46px;
}
.text-h2 {
  height: 93px;
  font-size: 33px;
}
.text-p {
  width: 85%;
}
.info-box-mobil {
  display: flex;
}
.info-box-mobil {
  display: flex;
  justify-content: space-around;
}
.info-box-modile {
margin: 0 10px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 8px;
padding: 6px 27px;
background: rgba(48, 48, 48, 0.75);
}
.box {
  display: none;
}
.img-nation img {
  width: 565px;
  height: 435px;
}
.header-burger {
  display: block;
}
.header-link {
  display: none;
}
.info-box {
  display: none;
}
.icon-header {
  margin-right: 16px;
}
.icon-header h3 {
  display: none;
}
.icon-header a {
  padding: 9px 11px;
  border-radius: 31px;
}
.icon-header i {
  margin-right: 0px;
  font-size: 40px;
}
.header-burger {
  border: 1px solid #fff;
  padding: 8px 2px;
  border-radius: 31px;
}
.header-burger a {
  padding: 9px 11px;
  border-radius: 31px;
}
.header-burger i {
  margin-right: 0px;
  font-size: 40px;
}
.header-right {
  display: flex;
  z-index: 1000;
  align-items: center;
}
.intro-img {
margin: 0 0px;
}
.intro-img img {
width: 555px;
height: 471px;
}
.intro-text {
left: calc(50% - 396px/2);
top: 440px;
}
.section {
height: 389px;
}
.section-img {
width: 233px;
height: 312px;
}
.section-img img {
width: 234px;
height: 312px;
}
.section-text {
font-weight: 400;
font-size: 20px;
line-height: 33px;
color: #FFFFFF;
}
.main-img img {
display: none;
}
.main-img-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
height: 990px;
}
.main-img-2 h1 {
font-weight: 700;
font-size: 48px;
margin-bottom: 20px;
line-height: 56px;
color: #FF2020;
text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
}
.main-img-2 p {
font-size: 20px;
width: 291px;
text-align: center;
margin-bottom: 20px;
}
.box-main {
display: none;
}
.main {
height: 1341px;
}
.main-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text h1 {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-transform: uppercase;
color: #2094FF;
text-align: center;
}
.text2 h1 {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
text-transform: uppercase;
color: #FF2020;
}
.text2 p {
text-align: center;
}
.Hyde {
margin-top: 0px;
height: 2222px;
}
.text-img-Hyde .img {
display: none;
}
.text-img-Hyde .img-1 {
display: none;
}
.text-img-Hyde .img-2 {
display: none;
}
.text-img-Hyde1 {
display: flex;
flex-direction: column;
align-items: center;
}
.box-nation {
display: flex;
align-items: center;
flex-direction: column-reverse;
}
.text-nation h1 {
font-size: 45px;
text-align: center;
}
.text-nation p {
font-size: 16px;
width: 386px;
text-align: center;
}
.nation {
height: 976px;
}
.box-nos {
display: flex;
align-items: center;
flex-direction: column;
}
.nos-text-img {
margin-left: 38px;
display: flex;
flex-direction: column;
align-items: center;
margin-left: 0px;
}
.nos-text {
margin: 31px auto;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  line-height: 36px;
  color: #FFFFFF;
}
.nos-text p {
width: 371px;
}
.img-text {
display: none;
}
.Design {
  height: 1000px;
}
.box-Design {
display: flex;
flex-direction: column;
align-items: center;
}
.img-text-Design {
margin-left: 0px;
display: flex;
  flex-direction: column;
  align-items: center;
}
.glav-img h1 {
text-align: center;
}
.text-Design {
text-align: center;
}
.glav-img {
display: flex;
flex-direction: column;
align-items: center;
}
.glav-img img {
width: 276px;
height: 178px;
}
.box-our {
display: flex;
flex-direction: column;
}
.box-our {
display: none;
}
.our {
  height: 1112px;
}
.img-our2 img {
width: 467px;
height: 532px;
}
.box-our1 {
display: flex;
flex-direction: column;
align-items: center;
}
.img-our22 {
width: 405px;
  height: 440px;
}
.img-our22 img {
width: 363px;
  height: 567px;
}
.twiter {
display: flex;
flex-direction: column;
text-align: center;
}
.twiter h2 {
width: 100%;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.icon {
text-align: center;
}
}
@media screen and (max-width: 320px) {

.intro {
  height: 422px;
}
text-h1 {
  font-size: 28px;
  height: 46px;
}
.text-h2 {
  height: 46px;
  font-size: 33px;
}
.header-logo img {
width: 125px;
height: 60px;
}
.intro-img img {
width: 313px;
height: 292px;
}
.icon-header i {
font-size: 27px;
}
.header-burger i {
font-size: 27px;
}
.intro-img img {
width: 293px;
height: 292px;
}
.text-h1 {
font-size: 13px;
}
.Design {
height: 826px;
}
.glav-img h1 {
width: 70%; 
}
.text-Design {
width: 80%;
}
.img-our22 img {
width: 281px;
height: 567px;
}
.text-h2 {
font-size: 13px;
}
.img-our22 {
width: 290px;
height: 440px;
}
.intro-text {
text-align: center;
left: calc(50% - 285px/2);
top: 329px;
}
.section-img img {
width: 195px;
height: 348px;
}
.section {
height:540px;
}
.section-img {
width: 233px;
height: 312px;
}
.section-text {
position: relative;
top: 128px;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* color: #FFFFFF; */
}
.main-img-2 img {
width: 291px;
height: 601px;
}

.main-box-2 img {
width: 251px;
height: 300px;
}
.Hyde {
margin-top: 0px;
height: 1712px;
}
.text-img-Hyde1 .img-3 {
width: 296px;
height: 817px;
}
.main {
height: 1054px;
}
.text-img-Hyde1 .img-1 {
width: 297px;
height: 361px;
}
.Hyde {
margin-top: 0px;
height: 1518px;
}
.text-img-Hyde1 .img-2 {
width: 297px;
height: 361px;
}
.img-nation img {
width: 333px;
height: 274px;
}
.text-nation h1 {
font-size: 35px;
}
.text-nation p {
width: 290px;
}
.nos-text p {
width: 294px;
}
.nos {
height: 883px;
}
.img-Design img {
width: 290px;
height: 350px;
}
.glav-img h1 {
font-weight: 700;
font-size: 52px;
width: 58%;
line-height: 51px;
color: #FF2020;
text-shadow: 0px 0px 24px rgb(255 32 32 / 50%);
}
.box-red {
width: 261px;
height: 378px;
background: #FF2020;
border-radius: 8px;
z-index: 1000;
}
}
@media screen and (max-width: 375px) {

.intro {
  height: 422px;
}
.header-logo img {
width: 125px;
height: 60px;
}
.intro-img img {
  width: 364px;
  height: 292px;
}
.icon-header i {
font-size: 27px;
}
.header-burger i {
font-size: 27px;
}
.intro-img img {
width: 293px;
height: 292px;
}
.text-h1 {
font-size: 13px;
}
.intro-text {
text-align: center;
left: calc(50% - 200px/2);
top: 329px;
width: 66%;
}
.Design {
height: 826px;
}
.glav-img h1 {
width: 70%; 
}
.text-Design {
width: 80%;
}
.img-our22 img {
width: 281px;
height: 567px;
}
.text-h2 {
font-size: 13px;
}
.img-our22 {
width: 290px;
height: 440px;
}

.section-img img {
width: 195px;
height: 348px;
}
.section {
height:540px;
}
.section-img {
width: 233px;
height: 312px;
}
.section-text {
position: relative;
top: 128px;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* color: #FFFFFF; */
}
.main-img-2 img {
width: 291px;
height: 601px;
}

.main-box-2 img {
width: 251px;
height: 300px;
}
.Hyde {
margin-top: 0px;
height: 1712px;
}
.text-img-Hyde1 .img-3 {
width: 296px;
height: 817px;
}
.main {
height: 1054px;
}
.text-img-Hyde1 .img-1 {
width: 297px;
height: 361px;
}
.Hyde {
margin-top: 0px;
height: 1518px;
}
.text-img-Hyde1 .img-2 {
width: 297px;
height: 361px;
}
.img-nation img {
width: 295px;
height: 274px;
}
.text-nation h1 {
font-size: 35px;
}
.text-nation p {
width: 290px;
}
.nos-text p {
width: 294px;
}
.nos {
height: 883px;
}
.img-Design img {
width: 290px;
height: 350px;
}
.glav-img h1 {
font-weight: 700;
font-size: 52px;
width: 58%;
line-height: 51px;
color: #FF2020;
text-shadow: 0px 0px 24px rgb(255 32 32 / 50%);
}
.box-red {
width: 261px;
height: 378px;
background: #FF2020;
border-radius: 8px;
z-index: 1000;
}
}
@media screen and (max-width: 425px) {
  .intro {
    height: 497px;
}
.intro-img img {
  width: 325px;
  height: 292px;
}
.intro-img {
margin: 0 -13px;
}
.text-p {
width: 105%;
}

.header-logo img {
width: 125px;
height: 60px;
}
.icon-header i {
font-size: 27px;
}
.header-burger i {
font-size: 27px;
}

.text-h1 {
font-size: 13px;
}
.info-box-modile {
  margin: 0 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 3px 17px;
  background: rgba(48, 48, 48, 0.75);
}
.intro-text {
text-align: center;
left: calc(50% - 200px/2);
top: 378px;
width: 58%;
}
.Design {
height: 826px;
}
.glav-img h1 {
width: 70%; 
}
.text-Design {
width: 80%;
}
.img-our22 img {
width: 281px;
height: 567px;
}
.text-h2 {
font-size: 13px;
}
.img-our22 {
width: 290px;
height: 440px;
}

.section-img img {
width: 195px;
height: 348px;
}
.section {
height:540px;
}
.section-img {
width: 233px;
height: 312px;
}
.section-text {
position: relative;
top: 128px;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* color: #FFFFFF; */
}
.main-img-2 img {
width: 291px;
height: 601px;
}

.main-box-2 img {
width: 251px;
height: 300px;
}
.Hyde {
margin-top: 0px;
height: 1712px;
}
.text-img-Hyde1 .img-3 {
width: 296px;
height: 817px;
}
.main {
height: 1054px;
}
.text-img-Hyde1 .img-1 {
width: 297px;
height: 361px;
}
.Hyde {
margin-top: 0px;
height: 1518px;
}
.text-img-Hyde1 .img-2 {
width: 297px;
height: 361px;
}
.img-nation img {
width: 295px;
height: 274px;
}
.text-nation h1 {
font-size: 35px;
}
.text-nation p {
width: 290px;
}
.nos-text p {
width: 294px;
}
.nos {
height: 883px;
}
.img-Design img {
width: 290px;
height: 350px;
}
.glav-img h1 {
font-weight: 700;
font-size: 52px;
width: 58%;
line-height: 51px;
color: #FF2020;
text-shadow: 0px 0px 24px rgb(255 32 32 / 50%);
}
.box-red {
width: 261px;
height: 378px;
background: #FF2020;
border-radius: 8px;
z-index: 1000;
}
}